<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mi página</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/../recurso-imagenes/personas_1/22222B.JPG" type="image/JPG"> 
        <!-- Para poner un logo simplemente sería cambiar la ruta de href.  -->

        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <header>
            <h1>Web de administracion de escuela</h1>
            <p>Has iniciado sesion como alumno.</p>
        </header>
        <nav>
            <ul>
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/curso">Curso</a></li>
                <li><a href="/docentes">Docentes</a></li>
                <li><a href="/aulas">Aulas</a></li>
                <li><a href="/matriculas">Mis matriculas</a></li>
                <li><a href="/accesibilidad">Accesivilidad</a></li>
                <li class="nav-dropdown">
                    <a href="/perfil">Perfil</a>
                    <ul>
                        <li><a href="/perfil/consultar">Consultar perfil</a></li>
                        <li><a href="/perfil/cerrar-sesion">Cerrar sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <main>
            <article>.. Contenido principal..</article>
            <aside>.. Información complementaria..</aside>
        </main>
        <footer>Este es el pie de pagina de inicio (por completar)</footer>
    </body>
</html>